@media (max-width: 665px){
    .header_div{
        width: 95%;
    }
    .tech_div{
        width: 95%;
    }
    .remove_margin{
        margin: 0;
    }
} 
.home_bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}